.form-input {
  margin: 0.5rem 0;
}

.form-input input {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.submit-btn {
  width: 100%;
  padding: 5px;
  color: white;
  border: 1px solid white;
  background-color: #1658dd;
}
